*{
    font-family:'Popper','Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
@media (max-width:500px){
    header{
        background-color: rgb(0, 76, 153);
    }
    .header-logo{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .header-logo img{
        height: 35px;
        width: 300px;
    }
    body{
        background-image: url(../media/background.jpg);
        background-position: center;
        background-size: cover
    }
    .main-container{
        margin-top: 80px;
    }
    .register-info{
        background-color: rgb(158, 207, 255);
        
        width: 300px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .register-username, .register-email,.register-password{
        padding-bottom: 20px;
    }
    .register-username p, .register-email p,.register-password p{
        margin-bottom: 5px;
    }
    #register-button{
        margin-bottom: 10px;
    }
    #register-back, #login-go{
        color: black;
        padding-bottom: 20px;
    }
    #register-button{
        height: 40px;
        width: 150px;
        background-color: rgb(255, 255, 102);
        font-size: 20px
    }
}
@media(min-width:501px) and (max-width:991px){
    header{
        background-color: rgb(0, 76, 153);
    }
    .header-logo{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .header-logo img{
        height: 35px;
        width: 300px;
    }
    body{
        background-image: url(../media/background.jpg);
        background-position: center;
        background-size: cover
    }
    .main-container{
        margin-top: 60px;
    }
    .register-info{
        background-color: rgb(158, 207, 255);
        font-size: 15px;
        width: 300px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border: 3px solid rgb(45, 62, 78);
    }
    .register-username, .register-email{
        padding-bottom: 20px;
    }
    .register-username p, .register-email p,.register-password p{
        margin-bottom: 5px;
    }
    .register-password{
        padding-bottom: 25px;
    }
    #register-button{
       margin-bottom: 20px;
    }
    #register-back , #login-go{
        color: black;
        padding-bottom: 20px;
    }
    #register-button {
        height: 60px;
        width: 220px;
        background-color: rgb(255, 255, 102);
        font-size: 30px
    }
}
@media(min-width:992px){
    header{
        background-color: rgb(0, 76, 153);
    }
    .header-logo{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .header-logo img{
        height: 45px;
        width: 500px;
    }
    body{
        background-image: url(../media/background.jpg);
        background-position: center;
        background-size: cover
    }
    .main-container{
        margin-top: 80px;
    }
    .register-info{
        background-color: rgb(158, 207, 255);
        font-size: 20px;
        width: 500px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border: 3px solid rgb(45, 62, 78);
    }
    .register-username, .register-email{
        padding-bottom: 20px;
    }
    .register-username p, .register-email p,.register-password p{
        margin-bottom: 5px;
    }
    .register-password{
        padding-bottom: 25px;
    }
    #register-button{
        margin-bottom: 20px;
    }
    #register-back , #login-go{
        color: black;
        padding-bottom: 20px;
    }
    #register-button{
        height: 60px;
        width: 220px;
        background-color: rgb(255, 255, 102);
        font-size: 30px
    }
}